<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>VueJS</title>
</head>

<body>
    <h1>Hello Vue JS</h1>
    <div id="app">
        <!-- V-IF Coompletly removes the whole div from the DOM -->
        <div v-if="showCounter">
            <hr>
            <h1>{{ count }}</h1>
            <button @click="count++">Increase</button>
            <button @click="count--">Decrease</button>
            <hr>

        </div>
        <button @click="toggleShowDiv">
            <span v-if="showCounter">Hide Counter</span>
            <!-- <span v-if="!showCounter">Show Counter</span> -->
            <span v-else>Show Counter</span>
        </button>

        <!-- V-SHOW unlike V-IF applies the CSS class display: none -->
        <div v-show="showCounter">Currently Showing Counter</div>

    </div>
    <script src="app.js"></script>
</body>

</html>